/*Assets Utilidades*/
@import './assets/utilidades/componentes.css';
@import './assets/utilidades/tipografia.css';
@import './assets/utilidades/tooltip.css';
@import './assets/utilidades/cores.css';

/*Assets Botoes*/
@import './assets/botoes/botao-global.css';
@import './assets/botoes/botao-menu.css';
@import './assets/botoes/botao-app.css';

/*Global*/
@import './global/global.css';


/*Home*/
@import './home/header.css';
@import './home/introducao.css';
@import './home/section-app.css';
