.btn-global {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #e8e8e8;
  z-index: 1;
  background: #172d52;
  position: relative;
  transition: all 250ms;
  overflow: hidden;
  font: 500 1rem/1.2 'Inter', sans-serif;
  border: 2px solid transparent;
  cursor: pointer;
}
.btn-global::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background: linear-gradient(to right, #1f55b2 0%, #172d52 100%);
  z-index: -1;
  transition: all 250ms;
}
.btn-global:hover{
    border-color: #3F98E1;
}
.btn-global:hover::before {
  width: 100%;
}
