.btn-introducao{
    display: grid;
    gap: 15px;
}
.btn-introducao div{
    display: flex;
    gap: 20px;
}

.btn-app{
    font: 600 0.8rem/1.2 'Inter', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    gap:5px;
    color: #000000;
}

.btn-app:hover{
    background: #F2F2F2;
}