.footer-bg {
  background: var(--cor-4);
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 60px;
}
.footer-conteudo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.redes-sociais {
  display: flex;
  gap: 15px;
}
.redes-sociais img{
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
}
.redes-sociais img:hover{
    border-color: var(--cor-1);
}
.input-container{
    display: flex;
    gap: 15px;
}
.input{
  font: 500 1rem/1.2 "Inter", sans-serif;
  padding: 12px 18px;
  border-radius: 5px;
  border: none;
  background: var(--cor-p1);
}

.label {
  color: transparent;
}

@media(max-width:1000px){
    .footer-conteudo{
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }
}