.introducao-bg1 {
  background: #051531;
}
.introducao {
  background-image: url(../../img/background/background.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}
.titulo-primario {
  font: 300 4.5rem/1.1 "M PLUS 1", sans-serif;
  color: #ffffff;
}
.introducao-conteudo {
  display: grid;
  gap: 20px;
}
@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .titulo-primario {
    font: 300 3.7rem/1.1 "M PLUS 1", sans-serif;
  }
}
