
.dropdown-menu{
    position: absolute;
    display: none;
    gap: 15px;
    padding: 15px;
    background: #3F98E1;
    border-radius: 10px;
    top: 80px;
}

[data-menu="dropdown"]:hover .dropdown-menu{
    display: grid;
}